<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <title>Israelle and Sidney's Wedding</title>
  </head>
 <body>
   <header class="container">
     <a href="/gif/izzy-face-FjvN_g" title="Izzy Face"><img src="https://i.makeagif.com/media/7-29-2018/FjvN_g.gif" alt="Izzy Face""></a>
     <h1>Israelle & Sidney</h1>
     <a href="/gif/sid-face-bni8XY" title="Sid Face"><img src="https://i.makeagif.com/media/7-29-2018/bni8XY.gif" alt="Sid Face"></a>
   </header>
    <div class="welcome_content">

      <h1>Oi, gente! Hey, y’all! Thank you for visiting our website.</h1>
      <p>add picture, or picture with above sentence</p>
      <p>add wedding date!</p>

      <p>
        We can’t wait to share good times with you on our wedding day!
        For starters, in case you’re wondering who this “Israelle” is, it’s Izzy. Her actual name is pronounced “Eesh-ha-elie”. And Sidney is spelled with an I, not a Y like that city in Australia, where the kangaroos run rampant and punch people in the face.

        Anyway, click on the links below to get more information about our day. Can’t wait to see everyone!
      </p>
      <h3>ABOUT US:</h3>
      <p>
        His Perspective:

        <br><br>Her Perspective:
      </p>

    </div>
    <div class="footer">
   <%= render 'down_navigation' %>
    </div>
  </body>
</html>