<!DOCTYPE html>
<html>
  <head>
    <title>Israelle and Sidney's Wedding</title>
  </head>
 <body>
   <header>
     <h1>Israelle & Sidney</h1>

   </header>
    <div class="welcome_content">

      <p>INDEX PAGE! UHUUUUUU! MORE TO COME!</p>

      <h1>Gente! We're getting hitched, yall!</h1>
      <p>add picture, or picture with abose sentence</p>
      <p>add wedding date!</p>

      <p>Blurb with a little about the couple.

        blablablablablabla
        blablablablablablablablablablablablablablabla
        blablablablablablablablablablablablablablabla
        blablablablablablablablablablablablablablablablablabla

        blablablablablablablablablablablablablablablablablablablablabla


        blablablablablablablablablablablablablablablablablablablablabla
        blablablablablablablablablablablablablablablablablablablablablablablabla
        blablablablablablablablablablablablablablablablablablablablablablablabla
        blablablablablablablablablablablablablablablablablablablablablablablabla
        blablablablablablablablablablablablablablablablablabla

        blablablablablablablablablablablablablablablablablablablablablablablabla
        blablablablablablablablablablablablablablablablablablablablablablablabla
      </p>
    </div>
    <div class="footer">
   <%= render 'down_navigation' %>
    </div>
  </body>
</html>