<!DOCTYPE html>
<html>
  <head>
    <title>Israelle and Sidney's Wedding</title>
  </head>
 <body>
   <header>
     <h1>Israelle & Sidney</h1>

   </header>
    <div class="welcome_content">

      <p>INDEX PAGE! UHUUUUUU! MORE TO COME!</p>

      <h1>Oi, gente! Hey, y’all! Thank you for visiting our website.</h1>
      <p>add picture, or picture with above sentence</p>
      <p>add wedding date!</p>

      <p>
        We can’t wait to share good times with you on our wedding day!
        For starters, in case you’re wondering who this “Israelle” is, it’s Izzy. Her actual name is pronounced “Eesh-ha-elie”. And Sidney is spelled with an I, not a Y like that city in Australia, where the kangaroos run rampant and punch people in the face.

        Anyway, click on the links below to get more information about our day. Can’t wait to see everyone!
      </p>
      <h3>ABOUT US:</h3>
      <p>
        His Perspective:

        Her Perspective:
      </p>

      <p>If you’re a local, we need help.</p>
    </div>
    <div class="footer">
   <%= render 'down_navigation' %>
    </div>
  </body>
</html>