<!DOCTYPE html>
<html>
  <body>
    <h1>Editing RSVP for <%= @rsvp.name %></h1>
    <%= render 'rsvp_form' %>
    <div class="footer">
      <%= render 'welcome/down_navigation' %>
    </div>
  </body>

</html>