<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>

    <h1>Edit RSVP for <%= @rsvp.name %></h1>
    <%= render 'rsvp_form' %>

    <div class="footer">
      <%= render 'welcome/down_navigation' %>
    </div>
  </body>
</html>

