<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <header>


    </header>
    <div class="rsvps">
      <h1>What we need from you:</h1>
      <%= render 'rsvp_form' %>

    </div>
    <div class="footer">
      <%= render 'welcome/down_navigation' %>
    </div>
  </body>
</html>
