<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
  <header class="container">
    <a href="/gif/izzy-face-FjvN_g" title="Izzy Face"><img src="https://i.makeagif.com/media/7-29-2018/FjvN_g.gif" alt="Izzy Face""></a>
    <h1>Israelle<br>&<br>Sidney</h1>
    <a href="/gif/sid-face-bni8XY" title="Sid Face"><img src="https://i.makeagif.com/media/7-29-2018/bni8XY.gif" alt="Sid Face"></a>
  </header>
    <div class="rsvps">
      <h1>What we need from you:</h1>
      <%= render 'rsvp_form' %>
    </div>
    <div class="rsvps-local">
      <h3>If you’re a local, we need help.</h3>
    </div>
    <div class="footer">
      <%= render 'welcome/down_navigation' %>
    </div>
    <div class="home_button">
      <%= render 'welcome/home_button' %>
    </div>
  </body>
</html>
