<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <header class="container">
      <a href="/gif/izzy-face-FjvN_g" title="Izzy Face"><img src="https://i.makeagif.com/media/7-29-2018/FjvN_g.gif" alt="Izzy Face""></a>
      <h1>Israelle<br>&<br>Sidney</h1>
      <a href="/gif/sid-face-bni8XY" title="Sid Face"><img src="https://i.makeagif.com/media/7-29-2018/bni8XY.gif" alt="Sid Face"></a>
    </header>
    <div class="about">
      <h1>Things you need to know!</h1>
      <h1>The Wedding Day</h1>
      <h2><u>Venue:</u>
        <h3>Skyberry Farms
          11270 NW Skyline Blvd., Portland, OR 97231</h3>
      </h2>
      <h2><u>Schedule:</u></h2>
      <h2>5:30 p.m. 			Wedding ceremony starts</h2>
      <p>We encourage our guests to arrive by 5:15 p.m.so you can take your seats. Also, no ‘Brazilian-time’ please!</p>
      <h3>
        6:13 p.m		-	Cocktail<br>

        7:42 p.m  	-		Dinner<br>

        8:47 p.m 		-	Speeches<br>

        9:32’12 p.m		-	Dancing til your legs fall off<br>
      </h3>
      </div>
      <div class="about2">
      <h2><u>Parking</u></h2>
      <p>
        Parking will happen in the Grange across from our farm, but if it's full, additional parking is available at Skyline Elementary.<br>
        - A bus will come by every 8 min from 5:00-5:25 to bring guests over to the farm. It’s important to be on time or else you’ll be walking to the wedding!<br>
      </p>
      <h2><u>Dress up tips:</u></h2>
      <p>
        - It’s going to be hot, so wear comfortable, beautiful, light clothing.<br>
        - Ladies: Sandals and short-heeled shoes are highly encouraged as you will be walking on grass and don’t want to look like velociraptors quietly stalking prey
        (also, you’ll be saving on future physical therapy for your knees)<br>
        - Gentlemen: Vests or light and colorful dress shirts under your formal jackets are highly encouraged as you will hopefully be dancing your butts off and can still look stylish and fashionable while not getting too hot.
      </p><br><br>
        <h2>Portland is green AF, so go outside and explore:</h2>
        <p><u>Forest Park</u> - The countries largest city park is only ½ mile from our doorstep! With over 80 miles of trails this is a great place to go for a walk without driving. Whether you have an hour or all day, there are routes and options for all. </p>
        <a href="https://www.pdxmonthly.com/articles/2017/5/15/eight-essential-forest-park-hikes" title="hikes" target="_blank">Click here to see top hikes to do while visiting</a><br><br>
        <%= image_tag "forrest_park.gif" %><br><br>
        <p><u>St. Johns/Peninsula Park</u> - St. Johns is the closest neighborhood in Portland to us. And it’s a cute super cute one. A small movie theater, bars, great restaurants and amazing parks make it a must on any visit to Portland. Cathedral Park under the St Johns Bridge is a great place to take a stroll before dinner or to have a picnic.
          The bigger park in the neighborhood is Peninsula Park and there you will find the closest disc golf course to us.
          Ask Sid to borrow some discs! But don’t invite him if you decide to go two or three days before the wedding. He’s got waayyy too many things to do at that time.💅</p>
        <p><u>Skyline Tavern</u> - The one and only bar near us, just 2 miles from the house. And would you look at that! They are a non-profit bar (betcha didn’t know those existed, right? Well, welcome to Portland)! All proceeds go to scholarships for film school students.
          With great music 6 nights a week, a variety of local beer/cider options, yummy food, amazing outdoor seating, a ping pong table and BYO-BBQ, Skyline Tavern is a little taste of how awesome Portland can be.
          And it’s just around the corner from us. <a href="https://skytav.com" title="Pre-party" target="_blank">This is where we'll pre-party on Friday evening!</a>
        </p>
        <p>
          <u>Sauvies Island</u> - What was once an island full of Wapato and mud is now a thriving agricultural community within the city limits.
          Not only are there great farm stands to check out (Kruger’s Farm) but Portland’s own river beach on the east side of the island along the mighty Columbia River.
          A great place to visit so you can say you’ve been both in WA and OR (the river separates both states) and you get the chance to maybe see some naked people in the nude section lololol because, why not?
        </p><br>
        <h1>To escape the heat, check out these places:</h1>
        <p>
          <u>Powell’s City of Books:</u> Are you a bookworm? Do you miss the good ol’ days of hanging out at Barnes & Nobles? Does ‘Lit’ get you lit? Then you have to check out Powell’s.
          It is definitely in the top 10 classic places list to visit here, even if you come for 24 hours. It’s in the heart of downtown Portland (just 25min from our home, so there’s no excuse). They have everything. I mean EVERYTHING.
          Get yourself a little PDX souvenir (other than the wonderful wedding memories we know you’ll have in your Instagram).
        </p>
        <%= image_tag "powells.jpg" %>
        <p>
          Yeah, that’s the end of our list for indoor stuff, unless you want to check out museums.
          In that case, click here for <a href="https://portlandartmuseum.org" target="_blank">art</a>, here for <a href="https://omsi.edu/calendar" target="_blank">science,</a> and here for <a href="http://www.ohs.org" target="_blank">history.</a>
          Other than that, GET READY TO THANK GLOBAL WARMING FOR YOUR SUFFERING! Portland did not realize it was going to get hotter every year, so most places don’t have AC. That’s why we highly recommend the following bars:
        </p>
        <h1>Our favorite places to get inebriated:</h1>
        <p>
          <u>Kachka:</u> Russian fare & house-infused vodkas with a my favorite Lenin portraits<br>
          960 SE 11th Ave | PDX, OR 97214

         <br><br><u>Basecamp Brewery:</u> Outdoor drinks that include a s’mores stout? Count me in!<br>
          930 SE Oak Street | PDX, OR 97214

         <br><br><u>Creepys:</u> Great bar food and visually entertaining portraits and includes pool table<br>
          627 SE Morrison St, PDX, OR 97214

        <br><br> <u>Teote:</u> Venezuelan arepas with a variety of meats and great happy hour<br>
          1615 SE 12th Ave, PDX, OR 97214
        </p>

        <h1>Where to stay</h1>
        <p>
          Airbnb blurb + referral link din din
        </p>
      <div class="footer">
        <%= render 'welcome/down_navigation' %>
      </div>
      <div class="home_button">
        <%= render 'welcome/home_button' %>
      </div>

    </div>
  </body>
</html>