// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.about {
    line-height: 2;
    width: 100%;
    position: inherit;
    min-height: 100%;
    box-sizing: border-box;
    padding: 40px;
    margin: 0;
}

.about img {
  border-radius: 5%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: center;
}

.about p {
  text-align: center;
}

.about h1, h2, h3, h4 {
  font-family: 'Lobster', cursive;
  text-align: center;
}

.about2 p, ul, li {
  text-align: justify;
  list-style: none;
}

.about2 h1, h2, h3, h4 {
  text-align: left;
  font-family: 'Lobster', cursive;
}
