// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about {
  line-height: 2;
  width: 100%;
  position: inherit;
  min-height: 100%;
  box-sizing: border-box;
  padding: 40px;
  margin: 0;
  font-weight: 200;
  overflow: auto;
}

#about1 img {
  border-radius: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  float: right;
  margin-left: 1em;
}

#about1 a {
  text-align: center;
  position: center;
}

.about2 img {
  border-radius: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
  width: 45%;
  margin-left: 2em;
}

.about p {
  text-align: center;
  color: #1c3411;
}

.about h1,
h2,
h3,
h4 {
  text-align: center;
  color: #3f2501;
}

.about2 p,
ul,
li {
  text-align: justify;
  list-style: none;
  color: #1c3411;
  font-weight: 200;
}

.about2 h1,
h2,
h3,
h4 {
  text-align: left;
  color: #3f2501;
  font-weight: 200;
}
