// Place all the styles related to the Register controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.registry img {
  border-radius: 5%;
}

.registry p, ul, li {
  text-align: justify;
  list-style: none;
  color: #1c3411;
}

.registry h1, h2, h3, h4 {
  text-align: left;
  font-family: 'Lobster', cursive;
  color: #3f2501;
}