<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>

    <header class="container">
      <a href="/gif/izzy-face-FjvN_g" title="Izzy Face"><img src="https://i.makeagif.com/media/7-29-2018/FjvN_g.gif" alt="Izzy Face"></a>
      <h1>Israelle<br>&<br>Sidney</h1>
      <a href="/gif/sid-face-bni8XY" title="Sid Face"><img src="https://i.makeagif.com/media/7-29-2018/bni8XY.gif" alt="Sid Face"></a>
    </header>
    <div class="registry">
      <h2>The Knot is our very handy Registry platform.</h2>
      <h2>Since we are getting married in our 30s, we have most of the material possessions we desire. 
      We prefer to share experiences and building a strong safety net for our future family. 
      Most importantly we so value you in our lives and appreciate your support of our love.<h2><br>
      
      <a href="https://www.theknot.com/us/israelle-jacinto-and-sidney-walters-aug-2019/registry" title="registry" target="_blank">Click here to view our registry</a><br>

    </div>

    <div class="footer">
      <%= render 'welcome/down_navigation' %>
    </div>

    <div class="home_button">
      <%= render 'welcome/home_button' %>
    </div>
  </body>
</html>